NEXT_PUBLIC_APP_URL=https://streak-silk-psi.vercel.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
NEXT_PUBLIC_CHAIN_ID=137
NEXT_PUBLIC_USDC_ADDRESS=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
NEXT_PUBLIC_STREAK_WALLET=
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_NOTIFY_EMAIL=
