NEXT_PUBLIC_APP_URL=https://streak-silk-psi.vercel.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
POLYGON_CHAIN_ID=137
POLYGON_USDC_CONTRACT_ADDRESS=
ALCHEMY_POLYGON_RPC_URL=
WALLETCONNECT_PROJECT_ID=
RESEND_API_KEY=
